:root {
  --maincolor-2: rgba(47, 111, 230, 1);
  --mainscene: rgba(42, 68, 116, 1);
  --main-font-family: "Kadwa", Helvetica;
  --main-font-weight: 700;
  --main-font-size: 40px;
  --main-letter-spacing: 0px;
  --main-line-height: 52px;
  --main-font-style: normal;
  --m3-headline-small-font-family: "Roboto", Helvetica;
  --m3-headline-small-font-weight: 400;
  --m3-headline-small-font-size: 24px;
  --m3-headline-small-letter-spacing: 0px;
  --m3-headline-small-line-height: 32px;
  --m3-headline-small-font-style: normal;
}
